@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  background: #f8f6f4;
}

.fsbold, .sectionReferenceCard .coachTable tbody .ReferItem h4 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.flight {
  font-weight: 300;
}

.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.fblue {
  color: #001F5F;
}

.fblack {
  color: #000;
}

.fred {
  color: #AA0607;
}

.fwhite {
  color: #fff;
}

.fgray {
  color: #7b7b7b;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

.enterBody {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerSelectLocation {
  background: #fff;
  width: 500px;
  height: 500px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerSelectLocation .locationLogo {
  width: 230px;
}

.containerSelectLocation .selectLocation {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
}

.containerSelectLocation .selectLocation form {
  width: 350px;
  margin: 25px 0;
}

.containerSelectLocation .selectLocation form .form-control {
  border-radius: 0;
  font-size: 14px;
  height: 42px;
  -webkit-appearance: none;
  /*webkit browsers */
  -moz-appearance: none;
  /*Firefox */
  appearance: none;
  /* modern browsers */
  border-radius: 0;
}

.containerSelectLocation .selectLocation .btnSelectLocation {
  background: #095B09;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  line-height: 42px;
  display: block;
  width: 100%;
  padding-left: 20px;
}

.containerSelectLocation .selectLocation .btnSelectLocation div {
  background: #FFC72C;
  width: 40px;
  height: 42px;
  float: right;
  text-align: center;
  line-height: 45px;
}

.containerSelectLocation .selectLocation .btnSelectLocation div .icomoon {
  color: #000;
  font-size: 20px;
}

.sectionReferenceCard {
  margin-top: 50px;
}

.sectionReferenceCard tbody, .sectionReferenceCard td, .sectionReferenceCard tfoot, .sectionReferenceCard th, .sectionReferenceCard thead, .sectionReferenceCard tr {
  border-color: #001F5F;
}

.sectionReferenceCard .coachTable {
  margin-top: 50px;
  cursor: pointer;
}

.sectionReferenceCard .coachTable thead {
  background: #001F5F;
}

.sectionReferenceCard .coachTable thead th {
  height: 60px;
  color: #fff;
  font-size: 20px;
  line-height: 42px;
  padding-left: 25px;
}

.sectionReferenceCard .coachTable tbody tr td:nth-child(1) {
  width: 85%;
}

.sectionReferenceCard .coachTable tbody tr td:nth-child(2) {
  width: 15%;
}

.sectionReferenceCard .coachTable tbody tr td a:hover {
  color: #000;
}

.sectionReferenceCard .coachTable tbody .ReferItem {
  padding: 20px;
}

.sectionReferenceCard .coachTable tbody .ReferItem h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.sectionReferenceCard .coachTable tbody .ReferItem ul {
  list-style: none;
  padding-left: 13px;
}

.sectionReferenceCard .coachTable tbody .ReferItem ul li {
  margin-bottom: 7px;
  position: relative;
  font-size: 14px;
  list-style: none;
  padding-left: 10px;
}

.sectionReferenceCard .coachTable tbody .ReferItem ul li:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  position: absolute;
  top: 7px;
  left: -10px;
}

.sectionReferenceCard .coachTable tbody .rtDiv {
  padding-top: 25px;
}

.sectionReferenceCard .coachTable tbody .rtDiv h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.sectionReferenceCard .pageText {
  font-size: 14px;
  font-style: italic;
  color: #4B4B4B;
  margin: 0;
  padding: 0;
}

.customModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customModal .divMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customModal .divMiddle a {
  display: inline-block;
  padding: 15px 10px;
  border: 1px solid #404040;
  border-radius: 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  min-width: 150px;
  margin: 0 5px;
}

.customModal .divMiddle a:hover {
  background: #001F5F;
  color: #fff;
}

.modal .popupBtn {
  background: #001F5F;
  display: inline-block;
  padding: 6px 25px;
  border: 1px solid #404040;
  border-radius: 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin: 0 15px;
  color: #fff;
}

.modal .popupBtn:hover {
  background: #fff;
  color: #001F5F;
}

.modal .btn-close {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */