@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  @include sitefont;
  background: #f8f6f4;
}

.fsbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.flight {
  font-weight: 300;
}
.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.fblue {
  color: $blue;
}
.fblack {
  color: $black;
}

.fred {
  color: $red;
}

.fwhite {
  color: $white;
}

.fgray{
  color:$gray;
}

a {
  text-decoration: none;
  color:$black;
  &:hover {
    text-decoration: none;
  }
}

.enterBody{
  height:100vh;
  @include verticalcenter;
}

.containerSelectLocation{
  background:$white;
  width:500px;
  height:500px;
  @include shadowbot;  
  @include verticalcenter;
  .locationLogo{
    width:230px;
  }
  .selectLocation{
    padding:35px;
    @include verticalcenter;
    width:310px;

    form{
      width:350px;
      margin:25px 0;

      .form-control{
        border-radius:0;
        font-size:$fsize - 1;
        height:42px;
         -webkit-appearance: none;
        /*webkit browsers */
        -moz-appearance: none;
        /*Firefox */
        appearance: none;
        /* modern browsers */
  border-radius: 0;
      }
    }
    .btnSelectLocation{
      background:#095B09;
      color:$white;
      display:flex;
      height:42px;
      line-height:42px;
      display:block;
      width:100%;
      padding-left:20px;

      div{
        background:#FFC72C;
        width:40px;
        height:42px;
        float:right;
        text-align:center;
        line-height:45px;

        .icomoon{
          color:$black;
          font-size:20px;
        }
      }
    }
  }
}

.sectionReferenceCard{
  margin-top:50px;

  tbody, td, tfoot, th, thead, tr{
    border-color:$blue;
  }

  .coachTable{
    margin-top:50px;
    cursor: pointer;
    thead{
      background:$blue;
      th{
        height:60px;
        color:$white;
        font-size:$fsize + 5;
        line-height:42px;
        padding-left:25px;
      }
    }
    tbody{
      tr{
        td{
          &:nth-child(1){
            width:85%;
          }
           &:nth-child(2){
            width:15%;
          }

          a{
            &:hover{
              color:$black;
            }
          }

         
        }
      }
      .ReferItem{
        padding:20px;
        h4{
          font-size:$fsize + 7;
          @extend .fsbold;
          margin-bottom:20px;
        }
        ul{
          list-style: none;
          padding-left:13px;

          li{
            margin-bottom:7px;
            position:relative;
            font-size:$fsize - 1;
            list-style: none;
            padding-left:10px;
            &:before{
              content:'';
              width:8px;
              height:8px;
              background:$black;
              position:absolute;
              top:7px;
              left:-10px;
            }
          }
        }
      }
      .rtDiv{
        padding-top:25px;
        h3{
          font-size:$fsize + 5;
          margin-bottom:15px;
        }       
      }
    }
  }
   .pageText{
      font-size:$fsize - 1;
      font-style: italic;
      color:#4B4B4B;
      margin:0;
      padding:0;
    }
}

.customModal{
  @include verticalcenter;
  .divMiddle{
      @include verticalcenter;

      a{
        display:inline-block;
        padding:15px 10px;
        border:1px solid lighten($black, 25%);
        border-radius:5px;
        @include transition;
        min-width:150px;
        margin:0 5px;

        &:hover{
          background:$blue;
          color:$white;
        }
      }
  }
}

.modal{
  .popupBtn{
    background:$blue;
    display:inline-block;
    padding:6px 25px;
    border:1px solid lighten($black, 25%);
    border-radius:5px;
    @include transition;
    margin:0 15px;
    color:$white;

    &:hover{
      background:$white;
      color:$blue;
    }      
  }
  .btn-close{
    margin:0;
    padding:0;
  }
}
